# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Environments
node_modules/
venv/
.venv/
*.local

# Python Build and Packaging Artifacts
build/
dist/
*.egg-info/
__pycache__/
*.pyc

# React Build Folders
backend/dist/
dist-ssr/

# Editor Directories and Sandbox
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
scratch/

# System Files
.DS_Store